body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('61921-OA96E9-847.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; 
    z-index: -1;
}

.content {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 100px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    z-index: 1;
}

h1 {
    position: relative;
    top: -50px; 
    left: 20px; 
}

p {
    position: relative;
    top: -50px; 
    left: 20px; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 300px; 
    height: 80px; 
    font-size: 40px !important; 
    line-height: 80px;
}

.button:hover {
    background-color: #45a049;
}